[distutils]
index-servers =
    pypi
    testpypi

[pypi]
username = __token__
password = YOUR_PYPI_API_TOKEN_HERE
repository = https://upload.pypi.org/legacy/

[testpypi]
username = __token__
password = YOUR_TESTPYPI_API_TOKEN_HERE
repository = https://test.pypi.org/legacy/
